@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");


body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  background-color:#fff;
  width: 3px;
}
::-webkit-scrollbar-thumb{
  background-color: #FF5733;
}

.prevent-select {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}



/* .css-13lryao-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: "primary" !important;
} */

